.create-map-window {
    position: fixed;
    z-index: 1000;
    left: 53%;
    top: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 40vw;
    border: solid 1px grey;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-size: clamp(80%, 90%, 110%);
    font-weight: 500;
}

.window-map-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--index) * 0.2);
    background-color: #e2f0ff;
    font-family: main;
    color: rgb(112, 112, 112);
}

.create-map-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2%;
    gap: 2vh;
    font-family: main;
    font-size: clamp(0.5rem, 1rem);
    width: 100%;
    height: 100%;
}

.name-trace {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vh;
    width: 100%;
    white-space: nowrap;

    & input {
        border-radius: 4px;
        padding: 0.5%;
        width: 100%;
        outline: none;
        border: solid grey 1px;
        font-family: main;
    }
}

.about-trace {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    white-space: nowrap;

    & textarea {
        height: 10vh;
        width: 100%;
        border: solid grey 1px;
        border-radius: 4px;
        outline: none;
        padding: 2%;
        font-family: main;
    }
}

.ogran-np {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.map-regions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.select-regions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    color: grey;
}

.select-type {
    display: flex;
}

.select-all,
.deselect-all {
    cursor: pointer;
    color: var(--active);
    transition: 0.2s ease;

    &:hover {
        color: var(--hoveractive);
    }
}

.podgotovka {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.select-type {
    display: flex;
    gap: 1vw;
}

.maps-container {
    margin-left: 8vw;
    max-height: 274px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
}

.regions-list {
    display: flex;
    flex-direction: column;
    width: 31vw;
}

.footer-map {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: end;
    margin-top: auto;
    gap: 1vw;

    &::after {
        content: "";
        width: 120%;
        height: 1%;
        top: -50%;
        left: -10%;
        background-color: grey;
        position: absolute;
    }

    & button:first-child {
        color: var(--active);
        background-color: transparent;
        border: none;
        border-radius: 4px;
        padding: 0.4% 1%;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            color: var(--hoveractive);
        }
    }

    & button:last-child {
        color: white;
        background-color: var(--active);
        border: none;
        border-radius: 4px;
        padding: 0.4% 1%;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            background-color: var(--hoveractive);
        }
    }
}

.map-table {
    margin-top: calc(var(--index) * 2);
    background-color: transparent;
    max-width: 80%;
    margin-left: 3%;

    & table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-family: main;
        font-size: 85%;
    }

    & th {
        padding: calc(var(--index) * 0.5) calc(var(--index) * 0.6);
        border: solid 1px black;
        background-color: transparent;
        font-weight: 300;
        text-transform: uppercase;
    }

    & td {
        padding: .5% 0;
        text-align: center;
        border: solid 1px black;
    }

    & .route-name-link {
        cursor: pointer;
        transition: color 0.2s ease;
    }

    & tbody tr:hover {
        background-color: rgba(64, 158, 255, 0.1);
    }
}

.delete-route-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s ease;
}

.remove-city-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

.city-property-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(0.6rem, 0.85rem, 1rem);
    cursor: pointer;
    white-space: nowrap;

    & .city-property-check {
        cursor: pointer;
        width: 16px;
        height: 16px;
    }
}

.modal-map {
    position: fixed;
    width: 94%;
    height: 100%;
    z-index: 999;
    background-color: white;
    padding: 2%;
    font-family: main;
}

.modal-map-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.modal-map-title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.route-info {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.route-description {
    position: absolute;
    top: 24px;
    left: 0;
    background: #fff;
    border: solid grey 1px;
    padding: 8px 10px;
    border-radius: 4px;
    width: 20vw;
    font-size: clamp(0.5rem, 0.7rem, 0.9rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    overflow-wrap: break-word;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    transition-delay: 0.1s;
}

/* При наведении на .route-info стили применяются к .route-description */
.route-info:hover .route-description {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.modal-map-settings {
    & svg {
        transition: 1s ease;
        cursor: pointer;
    }
}

.modal-map-settings:hover {
    & svg {
        transform: rotate(120deg);
    }
}

.modal-map-body {
    display: flex;
    flex-direction: row;
    font-size: clamp(0.6rem, 0.8rem, 1rem);
}

.modal-map-cities {
    height: 85vh;
    width: 13vw;
    overflow-y: auto;
    scrollbar-width: thin;
    border-right: solid rgba(165, 165, 165, 0.555) 2px;
}

.modal-group-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.1s ease;

    &:hover {
        background-color: var(--active);
        color: white;
    }
}

.modal-city-item {
    font-size: clamp(0.7rem, 0.85rem, 1rem);
    padding-left: 1.5vw;
    cursor: pointer;
    transition: 0.1s ease;
    white-space: nowrap;

    &:hover {
        background-color: var(--active);
        color: white;
    }
}

.all-cities {
    margin-bottom: 1vh;
}

.main-modal-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
}

.modal-map-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.table-buttons {
    width: 100%;

    & button {
        padding: 1% 7%;
        border: solid grey 1px;
        background-color: transparent;
        color: grey;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            color: white;
            background-color: var(--hoveractive);
        }
    }
}

.settings-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vw;
    width: 100%;
}

.setting-discard {
    color: red;
    background-color: rgba(255, 0, 0, 0.103);
    border: solid red 1px;
    padding: 1% 5%;
    border-radius: 4px;
    cursor: pointer;
}

.setting-approve {
    color: green;
    background-color: rgba(0, 128, 0, 0.103);
    border: solid green 1px;
    padding: 1% 5%;
    border-radius: 4px;
    cursor: pointer;
}

.add-city {
    padding: 1% 5%;
    background-color: transparent;
    color: grey;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    border: solid rgba(128, 128, 128, 0.411) 1px;
}

.add-window {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1111;
    width: 70vw;
    height: max-content;
    border-radius: 4px;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-family: main;
}

.add-window-title {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    background-color: #e2f0ff;
    font-size: clamp(0.7rem, 0.85rem, 1rem);
    color: grey;
}

.add-window-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.main-find {
    width: 20%;
    height: 80vh;
    padding: 1%;
    border-right: solid rgba(128, 128, 128, 0.26) 2px;
}

.main-add-form {
    width: 30%;
    padding: 1%;
    font-size: clamp(0.7rem, 0.85rem, 0.9rem);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.main-map {
    width: 50%;
}

.find-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5vw;

    & input {
        width: 100%;
        border: solid grey 1px;
        padding: 1%;

        &:focus {
            outline: none;
        }
    }

    & button {
        border: solid grey 1px;
        padding: 1% 2%;
        background-color: transparent;
        cursor: pointer;
        transition: 0.1s ease;
        color: rgb(59, 59, 59);

        &:hover {
            background-color: rgba(128, 128, 128, 0.137);
        }
    }
}

.form-short-name {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & input {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-full-name {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & input {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-region {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & select {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-coordination {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & input {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-id {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & input {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-count {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & input {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-charact {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    & select {
        border: solid grey 1px;
        padding: 1%;
        outline: none;
    }
}

.form-monotown {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.form-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cancel-btn {
    padding: 1% 5%;
    background-color: transparent;
    border: solid grey 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.137);
    }
}

.add-btn {
    padding: 1.5% 5%;
    background-color: var(--active);
    color: white;
    border: none;
    border-radius: 4px;
    transition: 0.1s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--hoveractive);
    }
}

.suggestions-list {
    position: absolute;
    background: white;
    max-height: 40vh;
    overflow-y: auto;
    width: 10vw;
    z-index: 10;
    top: 12%;
    padding: 0;
    list-style: none;
    left: 2%;
    font-size: clamp(0.6rem, 0.7rem, 0.8rem);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.suggestions-list li {
    padding: 2%;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.modal-map-table {
    margin-top: 2vh;
    width: 100%;

    & table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-family: main;
        font-size: 85%;
    }

    & th {
        padding: calc(var(--index) * 0.5) calc(var(--index) * 0.6);
        border: solid 1px black;
        background-color: transparent;
        font-weight: 300;
        text-transform: uppercase;
    }

    & td {
        padding: .5% 0;
        text-align: center;
        border: solid 1px black;
    }

    & .route-name-link {
        cursor: pointer;
        transition: color 0.2s ease;
    }

    & tbody tr:hover {
        background-color: rgba(64, 158, 255, 0.1);
    }
}