* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --index: calc(1vw + 1vh);
  --active: #409eff;
  --hoveractive: #2989ea;
}

@font-face {
  font-family: main;
  src: url(assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf);
}

.modal-window {
  position: fixed;
  font-family: main;
  z-index: 1000;
  left: 53%;
  top: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  width: 80%;
  border: solid 1px grey;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: calc(var(--index) * 0.35);
}

.window-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(166, 166, 166, 0.274);
  backdrop-filter: blur(3px);
}

.close-btn {
  cursor: pointer;
}

.window-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--index) * 0.15) calc(var(--index) * 0.15)
    calc(var(--index) * 0.15) 0;
  border-bottom: solid grey 1px;
  max-width: 98%;
  margin-left: 1%;
}
.nav-element {
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    color: rgb(74, 74, 74);
  }

  &.activeTab {
    color: var(--active);
    transition: 0.3s ease-in;
    position: relative;
  }
}

.nav-elements {
  display: flex;
  position: relative;
  gap: 2vw;
  font-family: main;
  font-size: calc(var(--index) * 0.5);
  font-weight: 400;
  color: grey;
}

.tab-indicator {
  position: absolute;
  top: calc(var(--index) * 1.15);
  left: 0;
  height: calc(var(--index) * 0.07);
  background-color: var(--active);
  transition: 0.3s ease-in;
  transform: translateX(0%);
  -webkit-box-shadow: 0px 3px 4px -1px rgba(34, 60, 80, 0.43);
  -moz-box-shadow: 0px 3px 4px -1px rgba(34, 60, 80, 0.43);
  box-shadow: 0px 3px 4px -1px rgba(34, 60, 80, 0.43);
}

.window-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.parameters-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 5%;
  height: calc(var(--index) * 21);
  font-size: calc(var(--index) * 0.5);
  width: 50%;
  margin: calc(var(--index) * 1) 0 0 calc(var(--index) * 1);
  border-right: solid grey 1px;
}

.form-name {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2%;

  & input {
    width: 60%;
    font-family: main;
    font-size: calc(var(--index) * 0.5);
    padding: 0.5%;
    outline: none;
  }

  & span {
    color: red;
  }
}

.form-type {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  align-items: center;

  & select {
    font-family: main;
    font-size: calc(var(--index) * 0.5);
    width: calc(var(--index) * 16.55);
    cursor: pointer;
    outline: none;
    padding: 0.5%;
  }
}

.region-list {
  font-family: main;
  font-size: calc(var(--index) * 0.5);
  height: 100%;
}

.selection-gr {
  margin-top: 2%;
  height: calc(var(--index) * 15);

  &::-webkit-scrollbar {
    display: none;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.sec {
  padding: 0.3% 2%;
  border-radius: 4px;
  margin-left: 84%;
  border: none;
  background-color: #409eff;
  color: white;
  cursor: pointer;
  font-size: calc(var(--index) * 0.4);
  transition: 0.3s all ease-in;

  &:hover {
    background-color: #2989ea;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  font-family: main;
  font-size: calc(var(--index) * 0.45);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 11%;
    height: 15%;
    background-color: #2989ea;
    bottom: 0;
  }
}

.right-select {
  width: 100%;
  & select {
    width: 70%;
    font-family: main;
    font-size: calc(var(--index) * 0.45);
    outline: none;
  }
}

.row-col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--index) * 2);
  width: 100%;
}

.row {
  border: solid red 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--index) * 10);
}

.column {
  border: solid green 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--index) * 10);
}
