:root{
    --index: calc(1vh + 1vw);
}

.authWindow{
    margin: 0 auto;
    margin-top: calc(var(--index) * 10);
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    max-width: calc(var(--index) * 10);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.authForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--index) * 3);
}